<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Новость  {{ one_news.id }}</h1>
    <table>
        <tr>
            <td>
            <b> {{ one_news.name|cenzor }} </b>
            </td>
        </tr>
        <tr>
            <td>
                <i>{{ one_news.news_create_time|date:'m-d-Y g:i'  }}</i>
            </td>
        </tr>
        <tr>
            <td>
            {{ one_news.news_text|cenzor }}
            </td>
        </tr>
    </table>
{% endblock content %}